<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">ShubhamSays</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Hello World!</a></h2>
            <p>Welcome to my blog! This blog currently in construction :p </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Random Post</a></h2>
            <p>Some more random jibber!</p>
        </div>
    </body>
</html>
